body{
    font-family: 'Balsamiq Sans', cursive;
    background-color: salmon;
}

.box{
    margin: auto;
    margin-top: 50px;
    width: 1200;
    height: 600;
}

div:not(.box){
    background-color: seashell;
    width: 300;
    height: 500;
    border: sandybrown solid 2px;
    border-radius: 10px;
    display: block;
    float: left;
    margin: 48px;
    overflow: hidden;
}

button{
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 28px;
    display: inline-block;
    color: seashell;
}

h2, p{
    text-align: center;
    color: rgba(61, 28, 13, 0.795);
}

p{
    color: rgba(99, 44, 21, 0.438);
}